@charset "UTF-8";

:root {
    --indigo: #4B0082;
    --night: #0C0F0A;
    --white: #F8F7F9;
    --teal: #177E89;
    --poppy: #DB3A34;
    --songlow: #FFC857;
    --turquoise: #1DD3B0;
    --green-yellow: #AFFC41;
    --light-green: #B2FF9E;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 14px;
    background-color: var(--night);
    font-family: 'Press Start 2P', cursive;
}

nav {
    top: 0;
    font-size: 12px;
    border-radius: 5px;
    background-color: var(--turquoise);
}

nav ul {
    padding: 15px 8px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    border: 1px solid var(--white);
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 12px;
}

.navbar-element {
    padding: 5px 10px;
    color: var(--night);
    text-decoration: none;
}

nav ul li:hover {
    cursor: pointer;
    border-radius: 2px;
}

.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-me {
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    color: var(--white);
    background-color: var(--indigo);
    border: 1px solid var(--white);
}

.img-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease;
    background-image: url('../../assets/images/perfil.jpeg');
}

.img::after {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 1;
    content: "";
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease;
    background-image: url('../../assets/images/walito.png');
}

.img:hover::after {
    opacity: 1;
}

#about-me h1 {
    color: var(--white);
}

#contact {
    display: flex;
    color: var(--night);
    justify-content: center;
}

#contact div {
    padding: 15px;
    width: fit-content;
    border-radius: 25px;
    background-color: var(--white);
}

#ubi-icon,
#mail-icon,
#work-icon,
#education-icon,
#projects-icon {
    width: 20px;
    height: 20px;
    padding: 10px;
}

#description {
    text-align: justify;
}

#experience {
    gap: 10px;
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
    margin-top: 5px;
    border-radius: 5px;
    text-align: center;
    border-radius: 5px;
    justify-content: center;
    color: var(--night);
    background-color: var(--turquoise);
    border: 1px solid var(--night);
}

#experience h3 {
    color: var(--night);
}

.experience-container {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    color: var(--night);
    background-color: var(--white);
    border: 5px groove gray;
}

.job-title {
    color: var(--indigo);
    font-size: 18px;
}

.job-company {
    color: var(--night);
    font-size: 14px;
}

.details-list {
    text-align: left;
    padding-left: 20px;
}

.tech-icons {
    font-size: 30px;
}

#projects {
    padding: 15px;
    margin-top: 5px;
    border-radius: 5px;
    text-align: center;
    color: var(--white);
    border: 1px solid var(--white);
    background-color: var(--indigo);
}

.projects-container {
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 100%;
    border-radius: 25px;
    background-color: var(--white);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    border: 5px groove gray;
}

.card:hover {
    cursor: pointer;
}

.card a {
    text-decoration: none;
}

.card-img img {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
    border-radius: 25px 25px 0 0;
    border-bottom: 2px solid var(--night);
}

.card-info {
    padding: 15px;
    height: 150px;
}

.card-title {
    color: var(--indigo);
}

.card-description {
    color: var(--night);
}

.card-date {
    color: var(--turquoise);
}

#education {
    gap: 10px;
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
    margin-top: 5px;
    border-radius: 5px;
    text-align: center;
    border-radius: 5px;
    justify-content: center;
    border: 1px solid var(--white);
    background-color: var(--turquoise);
}

#education h3 {
    color: var(--night);
}

.education-container {
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.trigger-div {
    background-color: #3498db;
    color: white;
    padding: 15px 25px;
    cursor: pointer;
    border-radius: 8px;
    display: inline-block;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-contenido {
    position: relative;
    background: white;
    padding: 10px;
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.modal-contenido iframe {
    flex: 1;
    width: 100%;
    border: none;
}

.cerrar {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 28px;
    cursor: pointer;
    color: var(--white);
    border-radius: 50%;
    background-color: var(--primary-color);
    width: 30px;
    text-align: center;
}


@media screen and (min-width: 1024px) {
    nav {
        font-size: 16px;
    }

    nav ul {
        justify-content: center;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    .img {
        width: 250px;
        height: 250px;
    }

    .img::after {
        width: 250px;
        height: 250px;
    }

    #about-me h1 {
        font-size: 38px;
    }

    #contact {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }

    #contact div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    #description {
        margin: 20px auto;
        padding: 0 50px;
    }

    .social-icon {
        transition: transform 0.3s ease;
    }

    .social-icon:hover {
        transform: scale(1.2);
    }

    .experience-container {
        display: flex;
        align-items: center;
        padding: 15px;
    }

    .experience-info {
        width: 40%;
        height: 90%;
        border-right: 1px solid var(--gray);
    }

    .experience-details {
        width: 60%;
    }

    .details-list {
        padding-left: 30px;
    }

    .tech-icons {
        text-align: left;
        padding-left: 20px;
    }

    .card {
        width: 20%;
        transition: transform 0.3s ease;
    }

    .card:hover {
        transform: scale(1.05);
    }

    .card-img {
        height: 60%;
    }

    .card-img img {
        height: 100%;
    }

}